---
interface Props {
  categories?: string[]
  isHome?: boolean
}

const { categories = [], isHome = true } = Astro.props
---

<div class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <i class="ic i-ri-home-fill"></i>
  <span>
    <a href="/">首页</a>
  </span>

  {
    categories.length > 0 && (
      <>
        <i class="ic i-ri-arrow-right-s-line" />
        {categories.map((cat, index) => {
          const isLast = index === categories.length - 1
          const catPath = `/categories/${cat}`

          if (isLast && isHome) {
            return (
              <span class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href={catPath} itemprop="item" rel="index" title={`在 ${cat}`}>
                  <span itemprop="name">{cat}</span>
                  <meta itemprop="position" content={String(index + 1)} />
                </a>
              </span>
            )
          } else {
            return (
              <>
                <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                  <a href={catPath} itemprop="item" rel="index" title={`在 ${cat}`}>
                    <span itemprop="name">{cat}</span>
                    <meta itemprop="position" content={String(index + 1)} />
                  </a>
                </span>
                {index < categories.length - 1 && <i class="ic i-ri-arrow-right-s-line" />}
              </>
            )
          }
        })}
      </>
    )
  }
</div>
